/* 

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

/* NavBar {
  background-color: rgb(24, 24, 171) !important;
  width: fit-content;
} */
 /* Navbar {
  width: 100%;
  background-color: #222 !important;  
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


#root {
  margin: 0;
  padding: 0;
  width: 100%;
}

.containerHome {

   flex: 1;
  background-color: #444;
  padding: 1rem; 
  box-sizing: border-box;
  background-color: aquamarine;
} */



:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
}
a:hover {
  color: #535bf2;
}

/* buttons */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* body flex layout */
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column; 
  padding: 0;
}


#navbar {
  width: 100%;
  background-color: black !important;
  border: 1px solid grey;

}

NavLink {
  color: rgb(210, 182, 210) !important;
}

NavItem {
  color: rgb(164, 76, 164) !important;
}

NavItem:hover  {
  color: rgb(225, 100, 225) !important;
}



.containerApp {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  
}

#navTapes {
  color: rgb(204, 65, 204) !important;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

#navTapes:hover {
 color: rgb(224, 138, 224) !important;
}

.containerHome {
  flex: 1; 
 background-image: url('/images/home.png'); 
 background-size: cover;
  padding: 1rem;
  box-sizing: border-box; 
  width: 100%;
}

.containerTapes {
  flex: 1; 
  background-image: url('/images/Tapes.png'); 
  background-size: cover;
  background-position: center; 
  padding: 15rem 1rem 1rem 1rem; 
  box-sizing: border-box; 
  width: 100%;
}



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}



.welcome {
  margin-top: 50px;
  color: rgb(185, 166, 166);
}


.tapesDisplayed {
  display: flex;
  flex-direction: row;
  justify-content: center;
 justify-items: center;
  /* margin-top: 20%; */
 
  gap: 30px;

}

.myTapesDisplayed {
  display: flex;
  flex-direction: row;
  justify-content: center;
 justify-items: center;
  gap: 30px;
  padding: 3px;
}

.cardImage {
  height: 40vh !important;
   
}

.formPageContainer {
  flex: 1;
  align-items: center;
  align-content: center;
 background-image: url('/images/tdFormPage2.png'); 
  background-size: cover;
  background-position: center;
}

Input {
  width: 50% !important;
  margin-left: 8% !important;
}

#navSearch {
  width: 20% !important;
  margin-right: 2%;
 
}


.containerBtns {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10%;
  margin-right: 5%;
}

.containerMyTapes {
  flex: 1;
  background-image: url('/images/myTapesImg.png');
  background-size: cover;
  background-position: center; 
  padding: 2rem 1rem 1rem 1rem; 
  box-sizing: border-box; 
  width: 100%;
}

.myTapesHeader {
  color: white;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  margin-top: 0 !important;
  padding: 0 !important;
  margin-bottom: 9%;
}

.newTapeBtn {
display: flex;
flex-direction: column;
align-items: center;
align-content: center;
margin-left: 50%;
}
